@import 'variables';

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  font-family: $roboto-regular;
  font-size: 16px;
  width: 100%;
  padding: 10px 10px;
  margin: 0 0 5px 0;
  box-sizing: border-box;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  background-color: $white;
  resize: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  outline-color: $orange-red;
  box-shadow: 0 0 2pt 1pt $orange-red;
}

textarea {
  font-family: $roboto-regular;
  font-size: 16px;
  width: 100%;
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  background-color: white;
}

// Buttons
.md-golden-btn {
  background-color: $golden;
  font-family: $roboto-bold !important;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 35px;
  color: $white;
  border: $light-golden solid 1px; 
  cursor: pointer;
}

.md-golden-btn:hover {
  background-color: $light-golden;
}

.md-golden-btn:focus { 
  border: none;
}

.md-orange-red-btn {
    background-color: $orange-red;
    font-family: $roboto-bold !important;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 35px;
    color: $white;
    border: $light-orange-red solid 1px; 
    cursor: pointer;
  }
  
  .md-orange-red-btn:hover {
    background-color: $orange-red;
  }
  
  .md-orange-red-btn:focus { 
    border: none;
  }


  .lg-orange-red-btn {
    background-color: $orange-red;
    font-family: $roboto-bold !important;
    font-size: 18px;
    border-radius: 4px;
    padding: 14px 40px;
    color: $white;
    border: $light-orange-red solid 1px; 
    cursor: pointer;
  }
  
  .lg-orange-red-btn:hover {
    background-color: $orange-red;
  }
  
  .lg-orange-red-btn:focus { 
    border: none;
  }