@import "variables";

.nav-container {
    margin: 0 auto;
    background-color: $white;
}

.nav-logo {
    max-width: 50px;
    vertical-align: middle;
    margin: 20px
}

.nav-lg-text {
    font-size: 3rem;
    font-family: $roboto-bold;
    vertical-align: middle;
    display: inline-block;
    color: $orange-red
}

.nav-links {
    float: center;
    text-align: center;
    text-transform: lowercase;
    // padding-right: 50px;
    padding: 25px 0;
}

.nav-link {
    display: inline-block;
    cursor: pointer;
    margin: 0 25px;
    color: $orange-red !important;
    font-size: 28px;
    text-decoration: none;
    @include hover-underline('slide', 'left-right');
  }

.nav-link:hover {
    color: $golden !important;
    text-decoration: none;
}

.nav-select {
    color: $orange-red !important;
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: $golden;
        bottom: 2px * -2;
        transform: scale(0, 1);
        transition: transform .4s;
        transform-origin: center top;
        transform: scale(1, 1);
    }
}

.nav-button {
    color: $white !important;
    margin-left: 25px;
}

/* Mobile */
@media screen and (max-width: 901px) {
    .nav-lg-text {
        font-size: 1.4rem !important;
    }
    
    .nav-logo {
        max-width: 35px;
        margin: 5px
    }

    .nav-link {
        font-size: 14px !important;
        margin: 0 10px;
    }

    .nav-links {
        padding: 0 0 20px 0;
    }
}



